.parent {
  display: flex;
  align-items: center;
}

.video-react-control-bar {
  display: none;
}

.video-player-wrapper {
  float: left;
  width: 840px;
  height: 480px;
}

.form {
  float: left;
  width: 30%;
}

.groupOptions {
  float: left;
}

.submit-button {
  margin-right: 10px;
}

.square {
  position: absolute;
  background-color: orange;
  opacity: 0.4;
}

.App-intro {
  margin-top: 25px;
}